/* Web appli to search repo with Github API
Gaëtan Langhade, Interfacteur
novembre 2015 */


/* general */

html,
body	{
	height: 100%;
}
body	{
	color: #333;
}
a	{
	color: #4078C0;
	text-decoration: underline;
}
a:hover,
a:focus,
a:active	{
	text-decoration: none;
}
li a:hover,
li a:focus,
li a:active,
li .active	{
	background: #4078C0;
	color: #FFF;
}
li a.active	{
	background: #6B808D;
}

/* structure */

body > section	{
	background: #FCFAFA;
	margin: auto;
	min-height: 101%;
	padding: 1em 3em;
	position: relative;
	width: 60em;
}
.content	{
	background: #FFF;
	border: 1em solid #FFF;
	border-width: 1em 0;
	border-radius: 1em;
}
h1	{
	font-size: 1.3em;
	margin: 1em 0;
	text-align: center;
}
h1 span	{
	display: block;
	font-size: .66em;
	font-style: italic;
	font-weight: normal;
}
h2	{
	font-size: 1.1em;
	font-weight: normal;
	margin-top: 1.5em;
}
h3	{
	font-size: 1em;
	margin-top: 1.4em;
}
hr	{
	background-color: #60B044;
	border: 0;
	/*border-color: #60B044;*/
	height: 2px;
	float: left;
	width: 66%;
}
div.clear	{
	margin-bottom: 1em;
}
.left	{
	float: left;
	width: 26em;
}
.right	{
	float: right;
	width: 26em;
}
address	{
	bottom: 1em;
	font-size: .75em;
	position: absolute;
	text-align: center;
	width: 100%;
}


/* typo */

.more	{
	display: inline-block;
	margin: 0 .33em 0 .5em;
}
.moreRepo:after	{
	content: "\F001";
	font-family: octicons;
}
.close,
.trans	{
	float: right;
}
.trans	{
	font-size: .85em;
}
.navIcon	{
	font-family: octicons;
}
.order	{
	background-color: #6B808D;
	border-radius: .5em;
	color: #FFF;
	display: inline-block;
	padding: 0 .5em;
}
thead th:first-child,
th abbr	{
	color: #8ADD6D;
	font-size: .75em;
	text-decoration: none;
}
th code	{
	background: rgba(255, 255, 255, .66);
	font-size: .66em;
	font-style: italic;
	margin: .75em 0 0 -.25em;
	position: absolute;
	transform: rotate(90deg);
	transform-origin: 0;
}
.time strong	{
	background-color: #6B808D;
	border: 1px dotted #8ADD6D;
	border-width: 1px 0 0 1px;
	display: inline-block;
	margin-top: 5em;
	text-indent: -4444em;
	width: 1em;
}
.time strong:empty,
strong.h0	{
	display: none;
}
.error	{
	font-style: italic;
	margin: 4em;
}
.time th	{
	color: #6B808D;
	font-weight: normal;
}


/* form */

form	{
	margin: 1em 0 2em 0;
}
input	{
	border: 1px solid #333;
	border-radius: .25em;
	margin-right: 2em;
	text-align: center;
	width: 15em;
}
input:focus	{
	border-color: #60B044;
}
[type="submit"]	{
	background: #60B044;
	color: #FFF;
}
[type="submit"]:hover,
[type="submit"]:focus	{
	background: #8ADD6D;
}


/* lists */

ol	{
	margin-top: 2em;
}
.users	{
	margin-top: 1em;
	max-height: 19em;
	overflow-y: auto;
}
li	{
	list-style-type: decimal;
	margin-left: 3em;
	padding: .5em;
}
.users li	{
	padding: .5em 0 0 1em;
}
li.off	{
	display: none;
}


/* table */

table	{
	border: 1px solid #60B044;
	margin: 2.4em 0 1em 0;
	width: 54em;
}
caption	{
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 1em;
}
thead td,
tbody th	{
	width: 4em;
}
thead th,
tbody td	{
	font-weight: normal;
	width: 1em;
}
#contentRepo .time td:first-child	{
	background: transparent;
}
.time th	{
	background: #FCFAFA;
	border-top: 1px solid #8ADD6D;
}
.time td	{
	border-bottom: 1px solid #8ADD6D;
	vertical-align: bottom;
}
#contentRepo .totaux th,
.totaux td	{
	background: #60B044;
	color: #FFF;
}
.solo td	{
	background: #6B808D;
	text-align: center;
	padding: .25em 0;
}
.time ~ tr th,
.time ~ tr td	{
	border-bottom: 1px solid #8ADD6D;
	border-right: 1px dotted #8ADD6D;
	font-size: .85em;
	font-weight: normal;
	height: 2em;
	text-align: center;
	vertical-align: middle;
}
.totaux ~ tr:last-child th,
.totaux ~ tr:last-child td	{
	border-bottom-width: 0;
}
.totaux ~ tr th	{
	background: #888;
	color: #FFF;
	text-align: right;
}
.totaux ~ tr td	{
	color: #888;
}
.time td:nth-child(even),
.totaux ~ tr td:nth-child(even)	{
	background-color: #FAF8F8;
}
.totaux ~ tr td:last-child	{
	border-right-width: 0;
}


/* effects and animations */
.time td:nth-child(even)	{
	-webkit-background: repeating-linear-gradient(0deg,
		#FFF, #FFF .95em, #8ADD6D .95em, #8ADD6D 1.05em,
		#FFF 1.05em, #FFF 1.95em, #8ADD6D 1.95em, #8ADD6D 2.05em,
		#FFF 2.05em, #FFF 2.95em, #8ADD6D 2.95em, #8ADD6D 3.05em,
		#FFF 3.05em, #FFF 3.95em, #8ADD6D 3.95em, #8ADD6D 4.05em,
		#FFF 4.05em, #FFF 4.94em, #60B044 4.94em, #60B044 5.07em,
		#FFF 5.07em, #FFF 5.95em, #8ADD6D 5.95em, #8ADD6D 6.05em,
		#FFF 6.05em, #FFF 6.95em, #8ADD6D 6.95em, #8ADD6D 7.05em,
		#FFF 7.05em, #FFF 7.95em, #8ADD6D 7.95em, #8ADD6D 8.05em,
		#FFF 8.05em, #FFF 8.95em, #8ADD6D 8.95em, #8ADD6D 9.05em,
		#FFF 9.07em, #FFF 9.94em, #60B044 9.94em, #60B044 10.07em);
	-moz-background: repeating-linear-gradient(0deg,
		#FFF, #FFF .95em, #8ADD6D .95em, #8ADD6D 1.05em,
		#FFF 1.05em, #FFF 1.95em, #8ADD6D 1.95em, #8ADD6D 2.05em,
		#FFF 2.05em, #FFF 2.95em, #8ADD6D 2.95em, #8ADD6D 3.05em,
		#FFF 3.05em, #FFF 3.95em, #8ADD6D 3.95em, #8ADD6D 4.05em,
		#FFF 4.05em, #FFF 4.94em, #60B044 4.94em, #60B044 5.07em,
		#FFF 5.07em, #FFF 5.95em, #8ADD6D 5.95em, #8ADD6D 6.05em,
		#FFF 6.05em, #FFF 6.95em, #8ADD6D 6.95em, #8ADD6D 7.05em,
		#FFF 7.05em, #FFF 7.95em, #8ADD6D 7.95em, #8ADD6D 8.05em,
		#FFF 8.05em, #FFF 8.95em, #8ADD6D 8.95em, #8ADD6D 9.05em,
		#FFF 9.07em, #FFF 9.94em, #60B044 9.94em, #60B044 10.07em);
	background: repeating-linear-gradient(0deg,
		#FFF, #FFF .95em, #8ADD6D .95em, #8ADD6D 1.05em,
		#FFF 1.05em, #FFF 1.95em, #8ADD6D 1.95em, #8ADD6D 2.05em,
		#FFF 2.05em, #FFF 2.95em, #8ADD6D 2.95em, #8ADD6D 3.05em,
		#FFF 3.05em, #FFF 3.95em, #8ADD6D 3.95em, #8ADD6D 4.05em,
		#FFF 4.05em, #FFF 4.94em, #60B044 4.94em, #60B044 5.07em,
		#FFF 5.07em, #FFF 5.95em, #8ADD6D 5.95em, #8ADD6D 6.05em,
		#FFF 6.05em, #FFF 6.95em, #8ADD6D 6.95em, #8ADD6D 7.05em,
		#FFF 7.05em, #FFF 7.95em, #8ADD6D 7.95em, #8ADD6D 8.05em,
		#FFF 8.05em, #FFF 8.95em, #8ADD6D 8.95em, #8ADD6D 9.05em,
		#FFF 9.07em, #FFF 9.94em, #60B044 9.94em, #60B044 10.07em);
}
.time td:nth-child(odd)	{
	-webkit-background: repeating-linear-gradient(0deg,
		#FAF8F8, #FAF8F8 .95em, #8ADD6D .95em, #8ADD6D 1.05em,
		#FAF8F8 1.05em, #FAF8F8 1.95em, #8ADD6D 1.95em, #8ADD6D 2.05em,
		#FAF8F8 2.05em, #FAF8F8 2.95em, #8ADD6D 2.95em, #8ADD6D 3.05em,
		#FAF8F8 3.05em, #FAF8F8 3.95em, #8ADD6D 3.95em, #8ADD6D 4.05em,
		#FAF8F8 4.05em, #FAF8F8 4.94em, #60B044 4.94em, #60B044 5.07em,
		#FAF8F8 5.07em, #FAF8F8 5.95em, #8ADD6D 5.95em, #8ADD6D 6.05em,
		#FAF8F8 6.05em, #FAF8F8 6.95em, #8ADD6D 6.95em, #8ADD6D 7.05em,
		#FAF8F8 7.05em, #FAF8F8 7.95em, #8ADD6D 7.95em, #8ADD6D 8.05em,
		#FAF8F8 8.05em, #FAF8F8 8.95em, #8ADD6D 8.95em, #8ADD6D 9.05em,
		#FAF8F8 9.07em, #FAF8F8 9.94em, #60B044 9.94em, #60B044 10.07em);
	-moz-background: repeating-linear-gradient(0deg,
		#FAF8F8, #FAF8F8 .95em, #8ADD6D .95em, #8ADD6D 1.05em,
		#FAF8F8 1.05em, #FAF8F8 1.95em, #8ADD6D 1.95em, #8ADD6D 2.05em,
		#FAF8F8 2.05em, #FAF8F8 2.95em, #8ADD6D 2.95em, #8ADD6D 3.05em,
		#FAF8F8 3.05em, #FAF8F8 3.95em, #8ADD6D 3.95em, #8ADD6D 4.05em,
		#FAF8F8 4.05em, #FAF8F8 4.94em, #60B044 4.94em, #60B044 5.07em,
		#FAF8F8 5.07em, #FAF8F8 5.95em, #8ADD6D 5.95em, #8ADD6D 6.05em,
		#FAF8F8 6.05em, #FAF8F8 6.95em, #8ADD6D 6.95em, #8ADD6D 7.05em,
		#FAF8F8 7.05em, #FAF8F8 7.95em, #8ADD6D 7.95em, #8ADD6D 8.05em,
		#FAF8F8 8.05em, #FAF8F8 8.95em, #8ADD6D 8.95em, #8ADD6D 9.05em,
		#FAF8F8 9.07em, #FAF8F8 9.94em, #60B044 9.94em, #60B044 10.07em);
	background: repeating-linear-gradient(0deg,
		#FAF8F8, #FAF8F8 .95em, #8ADD6D .95em, #8ADD6D 1.05em,
		#FAF8F8 1.05em, #FAF8F8 1.95em, #8ADD6D 1.95em, #8ADD6D 2.05em,
		#FAF8F8 2.05em, #FAF8F8 2.95em, #8ADD6D 2.95em, #8ADD6D 3.05em,
		#FAF8F8 3.05em, #FAF8F8 3.95em, #8ADD6D 3.95em, #8ADD6D 4.05em,
		#FAF8F8 4.05em, #FAF8F8 4.94em, #60B044 4.94em, #60B044 5.07em,
		#FAF8F8 5.07em, #FAF8F8 5.95em, #8ADD6D 5.95em, #8ADD6D 6.05em,
		#FAF8F8 6.05em, #FAF8F8 6.95em, #8ADD6D 6.95em, #8ADD6D 7.05em,
		#FAF8F8 7.05em, #FAF8F8 7.95em, #8ADD6D 7.95em, #8ADD6D 8.05em,
		#FAF8F8 8.05em, #FAF8F8 8.95em, #8ADD6D 8.95em, #8ADD6D 9.05em,
		#FAF8F8 9.07em, #FAF8F8 9.94em, #60B044 9.94em, #60B044 10.07em);
}

body.loading .content,
body.hiding	#resultsRepos,
body:not(.hiding) #contentRepo,
/*#resultsRepos div:empty,
#resultsRepos div:empty + ol,*/
.content.false,
.inactive	{
	display: none;
/*	position: absolute;
	left: -4444em;
	top: -4444em;*/
}
body.loading > section:before	{
	color: #777;
	content: "\F087";
	display: block;
	color: #8ADD6D;
	font-family: octicons;
	font-size: 5em;
	height: 1em;
	margin: 3em 0 -4em 4.5em;
	text-align: center;
	width: 1.2em;
	-webkit-animation: rotation 1s linear 0s infinite;
	-moz-animation: rotation 1s linear 0s infinite;
	animation: rotation 1s linear 0s infinite;
}
@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
}	}
@-moz-keyframes rotation {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
}	}
@keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
}	}


